.form-control {
  margin: 0.5rem 0;
}

.form-control h3 {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input {
  padding: 0.25rem;
  padding-left: 1rem;
  display: block;
  width: 100%;
  background: #f1f5f8;
  border-color: transparent;
  font: inherit;
  line-height: 1.5rem;
}

.form-control input:focus {
  outline: none;
  background: #f1f5f8;
  border-color: #617d98;
}
