.button {
  width: 100%;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #1a8ed1;
  color: white;
  background: #1a8ed1;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  margin: 0.5rem 0.5rem 0 0;
  transition: all 0.3s linear;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #26a3ec;
  border-color: #26a3ec;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}
